
        h1{
            color: orange;
            background-color: black;
        }
        p{
            color: yellow;
            background-color: gray;
        }
        button{
            color: white;
            background-color: black;
        }
